body {
    margin: 0;
    padding: 0;
}

#square {
    width: 20px;
    height: 20px;
    background: red;
}

.gold1 {
    background: #fff;
    height: 250px;
    .prof {
        margin: 1em 0 0 0.8em;
        .social2 {
            background: white;
        }    
    }
}

.gold2 {
    background: bisque;
    height: 350px;
}

.iden {
    height: 400px;
    background: bisque;
    margin: 1.5em;
        .pf1 {
            border-radius: 50%;
            margin: 2.5em;
        }
}

.para2 {
    text-align: center;
    .hr1 {
        color: red;
        width: 100px;
        margin: 20px 10px 10px 75px;
    }
}

.btn {
    margin: 25px 2px 0 15px;
    border-radius: 20%;
}

.socials1 {
    background: #fff;
    .socials2 {
        margin: 50px 5px 5px 70px;
        .sc {
            margin: 5px;
        }
    }
}

.gold2 {
    .hello {
        padding-top: 310px;
        padding-left: 20px;
    }
}

.intro {
    margin: 20px 30px 40px 30px;
    text-align: center;
}

.call {
    background: bisque;
    padding: 30px 20px 30px 20px;
    .sc {
        margin: 5px;
    }
}

.footer {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 20px 0 40px 0;
}

// resume section

.gold3 {
    background: bisque;
    height: 500px;
    .prof3 {
        padding: 1em 0 8px 0.8em;
        font-size: large;
        background: #ffffff;
        margin: 15px 0 0 0;

    }
}

#square1 {
    width: 40px;
    height: 40px;
    background: red;
    margin: 60px 30px 0 60px;
    .r1 {
        margin-left: 50px;
    }
}

.ex {
    margin: 15px;
    .ex3 {
        padding: 20px 0 0 70px;
    }
}

.dw {
    margin: 0 30px 0 60px;
}

// contact

#square3 {
    width: 40px;
    height: 70px;
    background: red;
    margin: 60px 30px 0 60px;
    .r3 {
        margin-left: 50px;
    }
}

.c1 {
    margin: 60px 15px 30px 15px;
    background: #fff;
    .c2 {
        .download1 {
            padding: 10px 0 10px 80px;
        }
    }
}

.gold4 {
    background: bisque;
    height: 650px;
    .prof3 {
        padding: 1em 0 8px 0.8em;
        font-size: large;
        background: #ffffff;
        margin: 15px 0 0 0;
    }
}